/** 
    Create Custom Buttons
**/
@mixin make-button($color, $size, $type) {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;

  @if $type == "solid" {
    background-color: $color !important;
    border: 1px solid transparent !important;
    color: white !important;
  }
  @if $size == "large" {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.5rem 2rem !important;
  }
  @if $size == "normal" {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem !important;
  }
  @if $size == "small" {
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
}

@mixin make-button-rounded() {
  border-radius: 50px !important;
}

@mixin make-button-hover($color) {
  &:not([disabled]):hover {
    background-color: lighten($color, $amount: 20) !important;
    color: whitesmoke;
    text-decoration: none;
  }
}

@mixin make-button-active($color) {
  &:not([disabled]):active {
    background-color: $color !important;
    color: whitesmoke;
    text-decoration: none;
  }
}