/** 
    Brand colors 
**/
// primary
$custom-primary-cyan: hsl(180, 66%, 49%);
$custom-primary-darkvoilet: hsl(257, 27%, 26%);

// secondary
$custom-secondary-red: hsl(0, 87%, 67%);

// neutral
$custom-neutral-gray: hsl(0, 0%, 75%);
$custom-neutral-grayishviolet: hsl(257, 7%, 63%);
$custom-neutral-verydarkblue: hsl(255, 11%, 22%);
$custom-neutral-verydarkviolet: hsl(260, 8%, 14%);

/** 
    Spacing
**/
$spacing-xsmall: 6px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;
$spacing-xxlarge: 48px;
$spacing-xxxlarge: 64px;
