@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import './variables';
@import './mixins';

//custom buttons
.btn-custom-primary-large {
  @include make-button($custom-primary-cyan, 'large', 'solid');
  @include make-button-hover($custom-primary-cyan);
  @include make-button-active($custom-primary-darkvoilet);
}
.btn-rounded-custom-primary-large {
  @include make-button($custom-primary-cyan, 'large', 'solid');
  @include make-button-hover($custom-primary-cyan);
  @include make-button-active($custom-primary-darkvoilet);
  @include make-button-rounded();
}
.btn-custom-primary-normal {
  @include make-button($custom-primary-cyan, 'normal', 'solid');
  @include make-button-hover($custom-primary-cyan);
  @include make-button-active($custom-primary-darkvoilet);
}
.btn-rounded-custom-primary-normal {
  @include make-button($custom-primary-cyan, 'normal', 'solid');
  @include make-button-hover($custom-primary-cyan);
  @include make-button-active($custom-primary-darkvoilet);
  @include make-button-rounded();
}
.btn-custom-primary-small {
  @include make-button($custom-primary-cyan, 'small', 'solid');
  @include make-button-hover($custom-primary-cyan);
  @include make-button-active($custom-primary-darkvoilet);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $custom-neutral-grayishviolet !important;
  font-size: 18px;
}

a {
  color: $custom-primary-cyan;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


